@import '../../../common/theme.less';
@import '../program/index.less';

@prefix: page-insights;

.@{prefix} {
  &-box {
    .flex(center, center, column);
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 1128px;
    .margin(40px, t);
  }

  &-card {
    width: 100%;
    border: 1px solid @gray-4;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 100px;
    .margin(32px, b);
  }

  &-container {
    .flex(flex-start, flex-start, row);
  }

  &-topic {
    & > p {
      max-width: 350px;
      .margin(24px, b);
      & > span {
        color: @clear-blue;
        font-size: 14px;
      }
      & > h3 {
        font-size: 20px;
        font-weight: bold;
        color: @black;
        line-height: 1.3;
        .margin(10px, t);
      }
    }

    &-card {
      width: 250px;
      height: 300px;
      .margin(25px, r);
      padding: 24px;
      position: relative;
      border: solid 1px @gray-4;
      border-radius: 4px;
      color: @black;
      font-size: 14px;
      &-center {
        .flex(center, center, column);
      }
      &-bg {
        background-color: @tiffany-blue;
      }
      & > p {
        font-size: 18px;
        font-weight: bold;
      }
      &-tip {
        position: absolute;
        bottom: 24px;
        right: 35px;
        font-size: 12px;
      }
    }
  }

  &-cele {
    &-number {
      width: 40px;
      line-height: 40px;
      height: 40px;
      // .flex(center, center, row);
      border-radius: 20px;
      background-color: #e0e0e0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #1b2631;
      & > em {
        font-size: 12px;
      }
    }

    &-tip {
      .margin(50px, t);
      .margin(25px, b);
      width: 100%;
      text-align: center;
    }
  }

  &-moment {
    .flex(center, space-around, row);
    &-item {
      width: 200px;
      .flex(center, center, column);
      & > h3 {
        .margin(24px, t);
        text-align: center;
      }
    }
  }

  &-growth {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: row;

    &-progress {
      .margin(22px, b);
      & > span {
        .margin(5px, b);
        display: block;
      }
    }

    &-level {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;
      &-tip {
        display: block;
        margin-top: 10px;
      }
    }

    &-left {
      width: 240px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e0e0e0;
      &-item {
        flex: 1;
        .flex(center, center, column);
        border-bottom: 1px solid #e0e0e0;
        font-size: 14px;
        &:last-child {
          border: 0px;
        }

        & > h2 {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.85);
        }

        & > span {
          font-size: 36px;
          font-weight: bold;
          .margin(15px, tb);
        }

        &-tip {
          .flex(center ,center, row);
        }
      }
    }

    &-right {
      padding: 30px;
      display: flex;
      flex-direction: column;
      // width: 100%;
      flex: 1;

      &-title {
        padding-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}
