@import '../../common/theme.less';

@prefix: sign-page;

.@{prefix} {
  &-up {
    &-policy {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: @gray-1;
      & > span {
        .margin(4px, l);
        text-decoration: underline;
      }
    }
    &-title {
      font-size: 32px;
      // .margin(7px, b);
      .fontWeight();
    }
    &-subtitle {
      font-size: 16px;
      .margin(24px, b);
    }

    &-forgot {
      font-size: 12px;
      color: @clear-blue;
      .margin(32px, b);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-check {
    &-text {
      font-size: 15px;
      font-weight: normal;
      letter-spacing: normal;
      color: @black;
    }
    &-url {
      text-decoration: underline;
    }
    &-error {
      .margin(14px, tb);
      display: flex;
      flex-direction: row;
      align-items: center;

      & > span {
        .margin(9px, l);
        font-size: 14px;
        color: @gray-1;
      }

      & > span[role='img'] {
        .margin(0px, l);
      }
    }
  }

  &-label {
    width: 100%;
    .flex(center, space-between, row);

    & > h3 {
      color: @clear-blue;
      text-decoration: underline;
    }
  }

  &-tips {
    .fontWeight();
    width: 100%;
    .flex(center, center, row);
    .margin(24px, t);
    & > span {
      .margin(4px, l);
      color: @clear-blue;
    }
  }

  &-invite {
    width: 380px;
    height: 264px;
  }

  &-result {
    .flex(center, center, column);

    & > h1 {
      .margin(12px, tb);
      font-size: 30px;
      .fontWeight();
      color: var(--clear-blue);
    }

    & > p {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  }

  &-skip {
    color: @clear-blue;
    font-size: 15px;
    margin-top: 20px;
    .fontWeight;
  }
}
