@import '../../../../common/theme.less';
@prefix: component-home;

.@{prefix} {
  line-height: 1;
  &-welcome {
    &-sign {
      font-size: 32px;
      color: @topaz;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-box {
      position: relative;
      width: 100%;
      height: 128px;
      .flex(flex-start, center, column);
      box-sizing: border-box;
      border-radius: 4px;
      border: solid 1px @gray-4;
      font-size: 16px;
      color: @black;
    }

    &-info {
      display: flex;
      flex-direction: column;
      line-height: 1;
      .margin(228px, l);

      &-title {
        color: @topaz;
        font-size: 32px;
        font-weight: bold;
        .margin(12px, b);
        .flex(center, flex-start, row);
      }

      &-emoji {
        display: inline-block;
        width: 36px;
        height: 36px;
        .bg;
        .margin(12px, l);
      }
    }

    &-check {
      position: absolute;
      bottom: 30px;
      right: 27px;
      color: @clear-blue;
    }

    &-avatar {
      width: 180px;
      height: 180px;
      position: absolute;
      left: 24px;
      bottom: 0;
      .bg;
      // background-color: @topaz;
    }
  }

  &-actions {
    &-card {
      .padding(24px);
      position: relative;
      width: 360px;
      height: 240px;
      border: solid 1px #eaeaea;
    }

    &-icon {
      width: 48px;
      height: 48px;
      .bg;
    }

    &-detail {
      display: flex;
      flex-direction: column;
    }

    &-title {
      .clamp(3);
    }

    &-content {
      font-size: 14px;
      color: @black;
      .flex(center, space-between, row);
    }

    &-complete {
      position: absolute;
      bottom: 24px;
      right: 24px;
      cursor: pointer;
      color: @clear-blue;
    }

    &-edit {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
      color: @clear-blue;
    }
  }

  &-goal {
    width: 360px;
    min-width: 360px;
    box-sizing: border-box;
    border: 1px solid @gray-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    .padding(32px, lr);
    font-size: 16px;

    & > h2 {
      font-size: 20px;
      font-weight: bold;
    }

    & > h3 {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
