/**
 * @Author: Ghan 
 * @Date: 2019-10-30 11:33:11 
 * @Last Modified by: centerm.gaohan
 * @Last Modified time: 2020-11-30 10:28:20
 */
.title-text {
  font-size: 36px;
  color: #666666;
  font-weight: bold;
}
.normal-text {
  font-size: 26px;
  color: #666666;
}
.small-text {
  font-size: 24px;
  color: #666666;
}
.border1px {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid #d6d6d6;
}
.bordertop {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: auto;
  left: 0;
  right: 0;
  top: 0;
  transform: scaleY(0.5);
  border-top: 1px solid #e3e3e3;
}
.container {
  width: 100%;
  height: 100%;
}
.container-color {
  background-color: #f2f2f2;
}
.container-border::after {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid #e3e3e3;
}
.bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.theme-button {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  height: 80px !important;
  line-height: 80px !important;
  border-radius: 80px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.theme-button-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 80px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.theme-button-cancel {
  background-color: #999999 !important;
  border-color: #999999 !important;
  height: 80px !important;
  line-height: 80px !important;
  border-radius: 80px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.theme-button-cancel-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 80px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.theme-input-placeholder {
  font-size: 26px;
  color: #cccccc;
}
.theme-card {
  border-radius: 20px;
  background-color: #ffffff;
}
/**
 * @Author: Ghan 
 * @Date: 2019-10-30 11:33:11 
 * @Last Modified by: Ghan
 * 通用css配置
 */
/**
 * @Author: Ghan 
 * @Date: 2019-10-30 11:33:11 
 * @Last Modified by: Ghan
 * Modal 部分配置
 */
.component-modal-cancel-button {
  background-color: #999999 !important;
  border-color: #999999 !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 66px / 2 !important;
  font-size: 30px !important;
  color: #ffffff !important;
  padding-left: 86px !important;
  padding-right: 86px !important;
}
.component-modal-confirm-button {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 66px / 2 !important;
  font-size: 30px !important;
  color: #ffffff !important;
  padding-left: 86px !important;
  padding-right: 86px !important;
}
/**
 * @Author: Ghan 
 * @Date: 2019-10-30 11:33:11 
 * @Last Modified by: Ghan
 * ListRow 部分配置 
 */
.component-list-row-extra {
  display: flex;
  flex-direction: row;
}
.component-list-row-button {
  margin-left: 15px !important;
  min-width: 120px !important;
}
.component-list-row-cancel-button {
  background-color: #D4D8DB !important;
  border-color: #D4D8DB !important;
  height: 44px !important;
  line-height: 44px !important;
  border-radius: 44px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.component-list-row-cancel-button-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 44px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.component-list-row-confirm-button {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  height: 44px !important;
  line-height: 44px !important;
  border-radius: 44px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.component-list-row-confirm-button-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 44px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.component-list-row-input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 30px !important;
}
.component-list-row-input-placeholder {
  font-size: 30px !important;
  color: #cccccc !important;
}
.product-manage-select-modal-button {
  margin-right: 15px !important;
  margin-top: 25px !important;
}
.product-manage-select-modal-button-cancel {
  background-color: #f8f8fa !important;
  border-color: #f8f8fa !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 20px !important;
  font-size: 32px !important;
  color: #999999 !important;
}
.product-manage-select-modal-button-cancel-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 66px !important;
  font-size: 32px !important;
  color: #999999 !important;
}
.product-manage-select-modal-button-confirm {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 20px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.product-manage-select-modal-button-confirm-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 66px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.product-manage-select-modal-button-reset {
  background-color: #999999 !important;
  border-color: #999999 !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 66px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
  padding-left: 86px !important;
  padding-right: 86px !important;
}
.product-manage-select-modal-button-reset-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 66px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
.product-manage-select-modal-button-submit {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  height: 66px !important;
  line-height: 66px !important;
  border-radius: 66px / 2 !important;
  font-size: 32px !important;
  color: #ffffff !important;
  padding-left: 86px !important;
  padding-right: 86px !important;
}
.product-manage-select-modal-button-submit-text {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  height: 66px !important;
  font-size: 32px !important;
  color: #ffffff !important;
}
/**
 * @Author: Ghan 
 * @Date: 2019-10-30 11:33:11 
 * @Last Modified by: Ghan
 * pay 部分配置 支付
 */
.theme-pay-button {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  height: 80px !important;
  line-height: 80px !important;
  border-radius: 80px / 2 !important;
  font-size: 30px !important;
  color: #1890ff !important;
}
.program-component-title {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  color: #1b2631;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.program-component-title::after {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid #d6d6d6;
}
.program-component-card-cover {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 180px;
  position: relative;
}
.program-component-card-cover-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 41px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 72px;
  height: 72px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.program-component-card-cover-play > div {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.program-component-card-title {
  font-size: 20px;
  font-weight: 900;
  color: #1b2631;
}
.program-component-card-desc {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 12px;
}
.program-component-outcome-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 16px;
}
.program-component-outcome-item-rate {
  font-size: 24px;
  font-weight: 900;
  color: #1b2631;
}
.program-component-instructor-item {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.program-component-instructor-item-cover {
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-right: 24px;
  border-radius: 36px;
}
.program-component-instructor-item-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.program-component-instructor-item-name {
  font-size: 20px;
  font-weight: 900;
}
.program-component-instructor-item-about {
  font-weight: 900;
}
.program-component-instructor-more {
  position: absolute;
  right: 24px;
  bottom: 24px;
  font-size: 14px;
  font-weight: 900;
}
.program-component-coach-title {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  color: var(--black);
  margin-bottom: 16px;
}
.program-component-coach-preview {
  position: absolute;
  right: 0;
  color: #1890ff;
  text-decoration: underline;
  text-underline-position: below;
}
.program-component-coach-module {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  padding-left: 16px;
  margin-top: 8px;
}
.program-component-coach-module:last-child {
  margin-bottom: 8px;
}
.program-component-coach-module-dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #e0e0e0;
  margin-right: 12px;
}
.program-component-markdown {
  position: relative;
  font-size: 14px;
  color: #1b2631;
  margin-bottom: 24px;
  line-height: 1.2;
}
.program-component-markdown-overflow {
  height: 4.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.program-component-markdown-overflow:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}
.program-component-markdown h1,
.program-component-markdown h2,
.program-component-markdown h3,
.program-component-markdown h4,
.program-component-markdown h5,
.program-component-markdown h6,
.program-component-markdown strong,
.program-component-markdown em {
  font-weight: 900;
}
.program-component-markdown h1,
.program-component-markdown h2,
.program-component-markdown h3,
.program-component-markdown h4,
.program-component-markdown h5,
.program-component-markdown h6,
.program-component-markdown ul,
.program-component-markdown ol,
.program-component-markdown p {
  margin: 10px 0;
}
.program-component-markdown em {
  font-style: italic;
}
.program-component-markdown ul {
  list-style-type: disc;
  list-style-position: inside ;
}
.program-component-markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.program-component-markdown h1 {
  color: #1b2631;
  font-size: 24px;
}
.program-component-markdown h2 {
  color: #1b2631;
  font-size: 24px;
}
.program-component-markdown h3 {
  font-size: 18px;
}
.program-component-markdown h4 {
  font-size: 16px;
}
.program-component-markdown h5 {
  font-size: 14px;
}
.program-component-markdown h6 {
  color: #777777;
  background-color: inherit;
  font-size: 14px;
}
.program-component-markdown-img {
  max-width: 100%;
}
.program-component-markdown-more {
  position: absolute;
  right: 24px;
  bottom: 24px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
