@prefix: component-layout;

.@{prefix} {
  &-header {
    background-color: #ffffff !important;
  }

  &-sign {
    &-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      &-img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 12px;
      }
      &-text {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        // line-height: 1.21;
        color: var(--black);
      }
    }
  }
}
