@import '~video-react/dist/video-react.css';
@import '~antd/dist/antd.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

#root > div,
#root > section {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.17);
}

.ant-btn:hover {
  box-shadow: 3px 6px 10px 0 rgba(34, 34, 34, 0.2) !important;
}

:root {
  --white: #ffffff;
  --black: #1b2631;
  --gray-3: #babdc0;
  --cool-green: #2fc25b;
  --clear-blue: #1890ff;
  --gray-4: #e0e0e0;
  --gray-2: #8c9297;
  --topaz: #15c3b1;
  --duck-egg-blue: #d0f3ef;
  --tiffany-blue: #89e1d8;
  --sunflower: #facc14;
  --watermelon: #f04864;
  --gray-1: #48515a;
  --bluish-purple: #8543e0;
  --gray-5: #f8f8f8;
  --pastel-red: #e86452;
}

div[common-touch='touch'],
span[common-touch='touch'],
section[common-touch='touch'],
h1[common-touch='touch'],
h2[common-touch='touch'],
h3[common-touch='touch'] {
  cursor: pointer;
}

div[zhennovate-border='bottom'] {
  position: relative;
}
div[zhennovate-border='bottom']::after {
  content: '';
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid #d6d6d6;
}

.ant-menu-item::after {
  border-right-width: 8px !important;
}